.signup-header
  .signup-header__block
  .signup-header__area
    .signup-header__area__logo
    .signup-header__area__figure
      .signup-header__area__figure__information
        .signup-header__area__figure__information__title
          会員情報
        .signup-header__area__figure__information__under
          .signup-header__area__figure__information__under__dot
          .signup-header__area__figure__information__under__bar-sms

      .signup-header__area__figure__sms
        .signup-header__area__figure__sms__title
          電話番号認証
        .signup-header__area__figure__sms__under
          .signup-header__area__figure__sms__under__dot-sms
          .signup-header__area__figure__sms__under__bar-address

      .signup-header__area__figure__address
        .signup-header__area__figure__address__title
          お届け先住所
        .signup-header__area__figure__address__under
          .signup-header__area__figure__address__under__dot-address
          .signup-header__area__figure__address__under__bar-payment

      .signup-header__area__figure__payment
        .signup-header__area__figure__payment__title
          支払い方法
        .signup-header__area__figure__payment__under
          .signup-header__area__figure__payment__under__dot-payment
          .signup-header__area__figure__payment__under__bar-complete
      .signup-header__area__figure__complete
        .signup-header__area__figure__complete__title-complete
          完了
        .signup-header__area__figure__complete__under
          .signup-header__area__figure__complete__under__dot-complete

.complete
  .complete__areaup
    .complete__areaup__logo
      会員登録完了
  .complete__areadown
    .complete__areadown__texttop
      ありがとうございます。
    .complete__areadown__textdown
      会員登録が完了しました。
    .complete__areadown__start
      = link_to 'メルカリをはじめる', new_user_session_path
    .complete__areadown
      .complete__areadown__area
        .complete__areadown__area__img

= render 'shared/sign_up_footer'
