  <main class = "wrapper">
    <div class = "right_contents">
      <div class="profile-title">プロフィール
      </div>

      <div class="bgimage">
        <div class="person">
          <img src="/assets/thumbnail.png", class="thumbnail">
          <input type="text" size="20" class="profile-text">
        </div>
      </div>

      <div class = bottom-boxes>

        <textarea rows="5" cols="60" placeholder = "例）こんにちは☆ご覧いただきありがとうございます！" class="text-area"></textarea>
        
        <button class = "submit-changes" type = "submit">変更する</button>
      </div>
    </div>
  </main>



