%main.wrapper_all 
  .left_contents
    = render partial: 'navigations'
  .right_contents
    .profile-title
      プロフィール
    .bgimage
      .person
        %img.thumbnail{:src => "/assets/thumbnail.png"}
        %input.profile-text{:size => "20", :type => "text"}
    .bottom-boxes
      %textarea.text-area{:cols => "60", :placeholder => "例）こんにちは☆ご覧いただきありがとうございます！", :rows => "5"}
      %button.submit-changes{:type => "submit"}変更する

