= render 'shared/header'
= render 'shared/exhibitation'
.container
  .left_contents
    = render partial: 'navigations'
  .back-box
    %button.back-box__btn-logout{:type => "submit"} ログアウト
= render 'shared/footer'

