.footer
  .footer__top
    .footer__top__area
      .footer__top__area__img
  .footer__bottom
    .footer__bottom__area
      .footer__bottom__area__about
        .footer__bottom__area__about__title
          =link_to "", class: "about" do
            メルカリについて
        .footer__bottom__area__about__company
          =link_to "", class: "about" do
            会社概要(運営会社)
        .footer__bottom__area__about__recruit
          =link_to "", class: "about" do
            採用情報
        .footer__bottom__area__about__pless
          =link_to "", class: "about" do
            プレスリリース
        .footer__bottom__area__about__blog
          =link_to "", class: "about" do
            公式ブログ
        .footer__bottom__area__about__logoguideline
          =link_to "", class: "about" do
            メルカリロゴ利用ガイドライン
        .footer__bottom__area__about__logos
          .footer__bottom__area__about__logos__twitter
            =link_to "https://twitter.com/", class: "twitter" do
              = icon("far", "twitter fa-2x",class:"twitter")
          .footer__bottom__area__about__logos__facebook
            =link_to "https://www.facebook.com/", class: "facebook" do
              = icon("far", "facebook fa-2x",class:"facebook")
        .footer__bottom__area__about__logowhite
      .footer__bottom__area__helpguide
        .footer__bottom__area__helpguide__title
          =link_to "", class: "helpguide" do
            ヘルプ&ガイド
        .footer__bottom__area__helpguide__guide
          =link_to "", class: "helpguide" do
            メルカリガイド
        .footer__bottom__area__helpguide__rakuraku
          =link_to "", class: "helpguide" do
            らくらくメルカリ便
        .footer__bottom__area__helpguide__yuyu
          =link_to "", class: "helpguide" do
            ゆうゆうメルカリ便
        .footer__bottom__area__helpguide__ogata
          =link_to "", class: "helpguide" do
            大型メルカリ便
        .footer__bottom__area__helpguide__carguide
          =link_to "", class: "helpguide" do
            車体取引ガイド
        .footer__bottom__area__helpguide__declaration
          =link_to "", class: "helpguide" do
            メルカリあんしん・あんぜん宣言！
        .footer__bottom__area__helpguide__faker
          =link_to "", class: "helpguide" do
            偽ブランド品撲滅への取り組み
        .footer__bottom__area__helpguide__box
          =link_to "", class: "helpguide" do
            メルカリボックス
      .footer__bottom__area__privacyleft
        .footer__bottom__area__privacyleft__title
          =link_to "", class: "privacyleft" do
            プライバシーと利用規約
        .footer__bottom__area__privacyleft__polcy
          =link_to "", class: "privacyleft" do
            プライバシーポリシー
        .footer__bottom__area__privacyleft__userule
          =link_to "", class: "privacyleft" do
            メルカリ利用規約
        .footer__bottom__area__privacyleft__rule
          =link_to "", class: "privacyleft" do
            あんしんスマホサポート制度に関する利用特約
        .footer__bottom__area__privacyleft__compla
          =link_to "", class: "privacyleft" do
            コンプライアンスポリシー
        .footer__bottom__area__privacyleft__mercari
          @2019 Mercari
      .footer__bottom__area__privacyright
        .footer__bottom__area__privacyright__direction
          =link_to "", class: "privacyright" do
            個人データの安全管理に係る基本方針
        .footer__bottom__area__privacyright__notation
          =link_to "", class: "privacyright" do
            特定商取引に関する表記
        .footer__bottom__area__privacyright__display
          =link_to "", class: "privacyright" do
            資金決済法に基づく表示
        .footer__bottom__area__privacyright__law
          =link_to "", class: "privacyright" do
            法令遵守と犯罪防止のために
      .footer__bottom__area__country
        .footer__bottom__area__country__title
          =link_to "", class: "country" do
            国 
        .footer__bottom__area__country__language
          .footer__bottom__area__country__language__japan
            =link_to "", class: "country" do
              日本
          .footer__bottom__area__country__language__english
            =link_to "", class: "country" do
              United States
        .footer__bottom__area__country__logos
          .footer__bottom__area__country__logos__logowhite
          .footer__bottom__area__country__logos__mercari
            @2019 Mercari
  