.signup-footer
  .signup-footer__top
    .signup-footer__top__polcy
      =link_to "", class: "signup" do
        プライバシーポリシー
    .signup-footer__top__rule
      =link_to "", class: "signup" do
        メルカリ利用規約
    .signup-footer__top__notation
      =link_to "", class: "signup" do
        特定商取引に関する表記
  .signup-footer__logo
  .signup-footer__mercari
    © 2019 Mercari