.signup-header
  .signup-header__block
  .signup-header__area
    .signup-header__area__logo
    .signup-header__area__figure
      .signup-header__area__figure__infomation
        .signup-header__area__figure__infomation__title
          会員情報
        .signup-header__area__figure__infomation__under
          .signup-header__area__figure__infomation__under__dot
          .signup-header__area__figure__infomation__under__bar

      .signup-header__area__figure__sms
        .signup-header__area__figure__sms__title
          電話番号認証
        .signup-header__area__figure__sms__under
          .signup-header__area__figure__sms__under__dot
          .signup-header__area__figure__sms__under__bar

      .signup-header__area__figure__address
        .signup-header__area__figure__address__title
          お届け先住所
        .signup-header__area__figure__address__under
          .signup-header__area__figure__address__under__dot
          .signup-header__area__figure__address__under__bar

      .signup-header__area__figure__payment
        .signup-header__area__figure__payment__title
          支払い方法
        .signup-header__area__figure__payment__under
          .signup-header__area__figure__payment__under__dot
          .signup-header__area__figure__payment__under__bar
      .signup-header__area__figure__complete
        .signup-header__area__figure__complete__title
          完了
        .signup-header__area__figure__complete__under
          .signup-header__area__figure__complete__under__dot
