.field__area__size__clothes{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}
.field__area__size__mens{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}
.field__area__size__mens{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}

.field__area__size__ladies{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}

.field__area__size__skirt{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}
.field__area__size__kidsclothes{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}

.field__area__size__kidsshoes{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}

.field__area__size__babyclothes{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}

.field__area__size__tv{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}
.field__area__size__camera{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    margin-left:5px;
    width: 100%;
    &__check{
      margin-top:20px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
      &__label-2line{
        width: 128px;
        margin-top:-5px;
        margin-left: 10px;
        line-height: 14px;
      }
    }
    &__check-r{
      margin-top:20px;
      margin-left:6px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
      &__label-2line{
        margin-top:-5px;
        margin-left: 10px;
        line-height: 14px;
      }
      &__label-3line{
        margin-top:-10px;
        margin-left: 10px;
        line-height: 14px;
      }
    }
  }
}
.field__area__size__bike{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}
.field__area__size__helmet{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}
.field__area__size__tire{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}
.field__area__size__ski{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label{
        margin-top:-2px;
        margin-left: 10px;
      }
    }
  }
}
.field__area__size__snowboard{
  font-size:13px;
  display: none;
  .checks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__check{
      margin-top:15px;
      margin-left: 5px;
      width: 45%;
      display: flex;
      input[type=checkbox] {
        transform: scale(1.5);
      }
      &__label-2line{
        margin-top:-5px;
        margin-left: 10px;
        line-height: 14px;
        font-size:13px;
      }
    }
    &__check-r{
      margin-top:15px;
      margin-left:20px;
      width: 45%;
      display: flex;
      &__label-2line{
        margin-top:-5px;
        margin-left: 10px;
        line-height: 14px;
        font-size:13px;
      }
    }
  }
}