
.testtest{ 
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  display: flex;
  padding-left: 10%;
} 

.back-box{
  height: 150px;
  width: 700px;
  background-color: white;
  margin-left: 40px;
  margin-right: 20%;
  box-sizing: border-box;

.logout{
    display: inline-block;
    font-size: 10pt;  
    text-align: center;   
    cursor: pointer; 
    padding: 18px 165px;   
    background: #ea352d;
    color: white;
    line-height: 1em;
    box-sizing: border-box;
    margin: 40px 150px;
    height: 60px;
    width: 400px;
  }
}

