.header
  .header__top
    .header__top__logo
    .header__top__search
  .header__bottom
    .header__bottom__category
    .header__bottom__brand
    .header__bottom__news
    .header__bottom__todo
    .header__bottom__mypage